
/*font-family: 'Dancing Script', cursive;*/



*{
	margin: 0;
	padding:0;
	/*box-sizing: border-box;
	/*scroll-behavior:smooth;*/
	/*list-style:none;*/
 }

 .nav1{
	 width:100%;
	 height:50px;
	 color:white;
	 background-color:#020812;
	 display:flex;
	 justify-content:space-around;
	 align-items:center;
 }
 .nav1 i{
	 margin:0px 5px;
 }
 .nav1 a{
	      text-decoration:none;
		  color:white;
		  padding:2px 10px;
		  background:#e67e22;
		  border-radius:10px;
		  filter:blur(0px);
		  }
 
 .nav1 a:hover{
	 background-color:#a34405;
	 filter:none;
	 color:red;
 }
 .nav1 p span {
         color:#db6825;
		 font-size:25px;
		 font-family:'Dancing Script', cursive;
}
 
 
 
 
 
 #logo{
	 padding:10px 70px;
     color:white;
	 box-shadow:0px 0px 16px 4px;
	 text-shadow:2px 2px 6px blue;
	 font-family:'Dancing Script', cursive;
	 font-size:28px;
 }
 
 .nav2{
	 width:100%;
	 height:80px;
	 background:#c1dbd0;
	 color:black;
	 display:flex;
	 justify-content:space-between;
	 align-items:center;

 }
.menu a{
	text-decoration:none;
	color:white;
	padding:10px 20px;
	background-color:#191b36;
	text-transform:uppercase;
	border-radius:10px;
	transition:1s;
} 
 .menu a:hover{
	 background-color:#1c5dc7;
	 border-radius:20px;
 }
 

 header{
	width:100%;
	height:200vh;
	background:linear-gradient(rgba(0,0,0,0.7) 80%,#08c2b5);
	background-color:#2c2d2e;
	background-size:100% 100%;
	
} 
 
.head-text{
	max-width:600px;
	color:white;
	position: absolute:
	top: 50%;
	left:50%;
	
	transform:translate(50%,50%);
    text-align:center;
} 
.head-text h1{
	font-size:40px;
	font-family:'Dancing Script', cursive;
	
}
.head-text span{
	color:#21576e;
	font-family:'Dancing Script', cursive;
	font-size:60px;
}
.head-text p{
	font-size:20px;
	margin:40px 0;
	line-height:30px;
}
.head-text a{
	text-decoration:none;
	background-color:#e67e22;
	color:white;
	padding:10px 20px;
	margin:0px 15px;
	letter-spacing:5px;
	transition:1s;
	filter: blur(1px);
}
.head-text a:hover{
	background-color:#a34405;
	filter:none;
}
.img{
	height:200px;
	width:200px;
    background:pink;
	display:inline-block;
	position:absolute;
	right:50px;
	top:200px;
	border-radius:50%;
	background-image:url("https://e0.pxfuel.com/wallpapers/434/763/desktop-wallpaper-students-background-map-of-graduation-education-png-and-clipart-for-lovepik-graduate-student-thumbnail.jpg");
	background-size:cover;
	transition:2s;
}
 .img:hover{
	 transform:scale(0.5);
	  transform:translate(-60px);
 }
footer{
	text-align:center;
}
.down{
       text-align:center;
	   position:absolute;
       height:30vh; 
	   width:100%;
	   background-color:#232423;
	   color:black;
	   display:flex;
	   justify-content:space-around;
	   text-align:center;
}
.down i{
	
	 margin:50px 5px;
	 text-align:center;
	 color:white;
 
} 
.down p{
			padding:20px 0px;
			color:white;
}
.down a{
	color:red;
} 
.main{
	height:450px;
	width:350px;
	color:pink;
	background:#e6d7d5;
	display:block;
	position:absolute;
	left:280px;
	top:620px;
	background-image:url("https://static.vecteezy.com/system/resources/previews/007/746/072/original/cute-little-boy-student-posing-cartoon-illustration-cartoon-clipart-vector.jpg");
	background-size:cover;
	z-index:100px;
	box-shadow:0px 0px 10px 2px;
	transition:2s;
	
} 
.main:hover {
      border-radius:10%;
	  transform:scale(0);
	  transform:translatey(90px);
	}
#div2{
	height:400px;
	width:300px;
	color:pink;
	background:#4ad4af;
	display:block;
	position:absolute;
	left:370px;
	top:100px;
	box-shadow:0px 0px 10px 2px;
	transition:2s;
	
}
   #div2:hover {
      border-radius:10%;
	}


	
#div2 h5{
	text-align:center;
	color:black;
	font-size:20px;
	font-family: 'Dancing Script', cursive;
	
}
#div2 p{
	text-align:center;
	color:black;
	font-family: Dancing Script;
	font-size:20px;

	
} 
 
 
 
 
 
 
 
 
 
 
 
 /*:root{
	-- main-color:#008148;
	-- second-color:#1e3932;
 }
 sectione{
	 padding:50px 10px;
 }
 img{
	 width:100px;
 }
 header{
	 position:fixed;
     width:100%;	
	 z-index:1000;
	 display:flex;
	 align-items:center;
	 justify-content:space-between;
	 background:#fff;
	 box-shadow:0 4px 41px rgb(14 55 54 / 14%);
	 transition:0.2s;
 }
 .logo{
	 display:flex;
	 align-items: center;
    }
 
 
 .logo img{
	 width:40px;
 }
 .navbar{
	  display:flex;
 }
 
 .navbar a{
	
	font-size:Irem;
	 padding:11px 20px;
	 color: var;
	 font-weight:600;
	 text-transform:uppercase;
 }
 .navbar a:hover{
	 color: var(--main-color);
 }
  
.home{
	 width:100%;
	 min-height:100vh;
	 display:flex;
	 flex-wrap:wrap;
	 align-items:center;
	 background:#ebdbc8;
	 gap:1rem;
 }*/
 
 
 
 
 
 
 
 
 
 